/* Reset CSS */

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variable */

:root {
    --navbar-height: 59px;
}



/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    font-family: 'Baloo Bhai';
    top: 0px;
}


#navbar::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar : Logo and Image */

#logo {
    margin: 10px 34px;

}

#logo img {
    height: 50px;
    margin: 3px 6px;
    border-radius: 50%;

}



#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: aliceblue;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li :hover {
    color: rgb(177, 169, 169);
}

::selection{
    color: black;
    background-color: yellow;
}


/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 654px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url("home.jpg") no-repeat center center/cover;
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;

}

/* Utility Classes */


.h-primary {

    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;


}

.h-secondary {

    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.center {
    text-align: center;
    justify-content: center;
}

.btn {
    padding: 6px 20px;
    border: none;
    background-color: brown;
    border: 1px solid white;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;

}




/* Services Section */

#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid red;
    padding: 30px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 50px;

}

#services .box p {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;


}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: brown;
    border: 1px solid brown ;
}

.btn:active{
    background-color: rgb(205, 96, 96);
}

input , textarea{
    outline: none;
    border: none;
}





#services .box img {
    height: 180px;
    display: block;
    margin: auto;
    border-radius: 50%;
    /* margin-bottom: 50px; */


}


/* Clients Section */


#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section {
    /* height: 344px; */
    position: relative;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 83px;
    width: auto;
}




#client-section::before {
    content: "";
    position: absolute;
    background: url("water\ fruit.jpg") center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}


/* Contact section */

#contact {
    position: relative;
    margin-top: 80px;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    font-size: 1.0rem;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 50%;
}

#contact-box label {
    font-size: 1.3rem;
}




/* Footer */


footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    height: 70px;
    
}